* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(160deg, #070b0a, #00110f);
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    align-content: center;
}


header {
    width: 100%;
    background: rgba(0, 20, 15, 0.85);
    backdrop-filter: blur(6px);
    padding: 20px 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid #2aff9a44;
}

nav a:hover {
    color: #2aff9a;
    text-shadow: 0 0 8px #2aff9a, 0 0 16px #2aff9a55;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: #2aff9a;
    text-shadow: 0 0 12px #2aff9a, 0 0 24px #2aff9a77;
    letter-spacing: 2px;
}


nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    font-weight: 500;
}

nav a:hover {
    color: #2aff9a;
}

.hero {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(115deg, #0d1a17 20%, #02110b 80%);
    padding-top: 80px;
}

.hero h1 {
    font-size: 70px;
    color: #2aff9a;
    text-shadow: 0 0 20px #2aff9a;
    margin-bottom: 15px;
}

.hero p {
    font-size: 22px;
    opacity: 0.9;
}

.cta {
    margin-top: 25px;
    padding: 15px 35px;
    font-size: 20px;
    border: none;
    background: #2aff9a;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.cta:hover {
    background: #35ffad;
    box-shadow: 0 0 20px #2aff9a;
}

.page {
    padding: 120px 10%;
    min-height: 80vh;
}

.page h2 {
    font-size: 42px;
    color: #2aff9a;
    text-align: center;
    margin-bottom: 40px;
}

.card {
    background: #0d1e18;
    padding: 25px;
    border-radius: 12px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 12px #2aff9a55;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 18px #2aff9a;
}

.station-grid,
.plans,
.features {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.map-placeholder,
#map {
    width: 100%;
    height: 450px;
    background: #0f1c18;
    border-radius: 12px;
    box-shadow: 0 0 15px #2aff9a55;
}



.ecologic-footer {
    width: 100%;
    background: #112e21;
    padding: 60px 10%;
    margin-top: 310px;
    color: #ffffff;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.footer-col h3 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-col h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-col p {
    color: #ffffff;
    line-height: 1.5;
}

.footer-col a {
    display: block;
    margin: 6px 0;
    color: #ffffff;
    text-decoration: none;
    transition: 0.25s;
}

.footer-col a:hover {
    color: #2aff9a;
    text-shadow: 0 0 8px #2aff9a;
}

.social-links a {
    margin-right: 20px;
    display: inline-block;
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #2aff9a22;
}
